 html {
 	font-size: 14px;
 }

 body {
 	font-family: 'Noto Sans JP', sans-serif;
 }

 h1 {
 	font-size: 1.5rem;
 }

 a {
 	color: #5196a6;
 	text-decoration: none !important;
 }

 a:hover {
 	color: #407784;
 }